.graph {
    @apply flex-1;
}

.content {
    @apply flex-1 relative flex w-full h-full;
}
.graph_control {
    @apply fixed top-0 right-0 z-10;
    .button {
    }
}
.dnd {
    &_wrap {
        @apply flex flex-col items-center w-52 p-4 border border-slate-100 select-none;
    }
    &-rect {
        @apply w-24 h-9 leading-9 m-4 text-center border border-border rounded-md cursor-move;
    }
}
